body {
    background: white url("images/background1.png") no-repeat;
    background-position: bottom;
    background-size: 25%;
    height: 600px;
    border-top: 25px solid #ccc;
    background-color: skyblue;
}
title{
    color: green;
    font-weight: bold;
}
li a {
    color: green;
}
